<h1>Lamp Posts</h1>

Filter by:

<form action="/lamps" method="get">
  Name: <input type="text" name="name" id="name-filter"><br>
  Status: <select name="status" id="status-filter">
    <% Lamp::STATUS_NAMES.each do |label, value| %>
      <option value="<%= value %>"><%= label %></option>
    <% end %>
  </select>
  <button type="submit">Filter</button>
</form>
<%= link_to "Reset Filters", lamps_path %>
<% @lamps.each do |lamp| %>
  <div class="lamp-form" style="border: 1px solid black; margin:10px; padding: 2px">
    <%= form_for lamp  do |f|%>
      Name: <%= f.text_field :name %><br>
      Latitude: <%= f.text_field :latitude %><br>
      Longitude: <%= f.text_field :longitude %><br>
      Status: <%= f.select :status, Lamp::STATUS_NAMES %><br>
      <%= f.submit "Update" %><br>
    <% end %>
    <%= button_to "Delete", lamp_path(id: lamp.id), :method => :delete %>
  </div>
<% end %>

<%= link_to "Create New", new_lamp_path %>

<script type="text/javascript">

  function getUrlVars() { //taken from stackoverflow
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++)
      {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
      }
      return vars;
  }
  $(document).ready(function(){
    var query = getUrlVars();
    $('#name-filter').val(query.name);
    $('#status-filter').val(query.status);
  });
</script>
